{% extends "header.html" %}

{% block body %}

    <div class="container">
        
        <br>
        <h1>Login</h1>
        <br>
        
        <form action="#" class="form-inline" method="post">
            <input type="text" class="form-control" placeholder="User Name" name="username" value="{{request.form.username}}">
            &nbsp;
            <input type="password" class="form-control" placeholder="password" name="password" value="{{request.form.password}}">
            &nbsp;
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        
        <code>{{error}}</code>
        
    </div>

{% endblock %}